<div class="shock-bar" style="display: flex; flex-direction: column; justify-content: space-between;">
    <div style="display: grid; justify-items: center; gap: 10px;">
        <div class="shock-logo">
            <img src="assets/img/logo.png" alt="schocklogic" style="justify-self: center;"/>
        </div>
        <hr style="width: 75%; margin-bottom: 40px;">
        <p><b>Lorem ipsum dolor sit amet</b><br>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div style="display: grid; justify-items: center; gap: 10px;">
        <div style="display:grid; background-color: white; width: 80%; border-radius: 20px; padding: 10px;">
            <img src="assets/img/sponsors.png" alt="sponsors" style="justify-self: center; width: 90%;"/>
        </div>
        <hr style="width: 75%; margin-bottom: 70px;">
        <p style="justify-self: start; margin-bottom: 40px;"><b>Contact:</b><br>+44 (0)20 7869 6893<br>contact@shocklogic.com</p>
    </div>
</div>
