:host ::ng-deep .mat-select { padding: 11px; }
:host ::ng-deep .mat-form-field-infix { display: flex; }
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix { padding: 0; }
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline { background-color: #eee; }