<div style="width: 800px;">
    <!-- Form Header -->
    <div class="form-header">
        <h2>Form</h2>
        <button mat-icon-button (click)="onCloseForm();" 
                style="box-shadow: none; min-width: 30px; min-height: 30px;">
            <i class="fa-solid fa-xmark" style="font-size: large;"></i>
        </button>
    </div>
    <!-- Form Content -->
    <form [formGroup]="form" (ngSubmit)="onSaveForm()"
        style="display: grid; grid-template-columns: 350px auto; column-gap: 20px; margin-top: 50px;">
        <div style="display: flex; flex-direction: column; gap: 10px; align-items: flex-end;">
            <img [src]="form.get('image')?.value" alt="promotional image" style="width: 100%; min-height: 80px;"/>
            <input #img [hidden]="true" id="iconInput" type="file" accept="image/png" (change)="loadImage()"/>
            <button mat-mini-fab matTooltip="load image" (click)="img.click()"
                    color="accent" style="position: relative; top: -100px; margin-right: 20px;">
                <i class="fa-solid fa-pen" style="color: white;"></i>
            </button>
        </div>
        <div style="display: flex; flex-direction: column; gap: 20px;">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" style="padding: 10px 0;"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput style="padding: 10px 0;" rows="2" formControlName="description"></textarea>
            </mat-form-field>
            <div style="display: flex; gap: 10px; justify-content: space-between;">
                <mat-form-field appearance="outline">
                    <mat-label>Start</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="start">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>End</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="end">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput style="padding: 10px 0;" rows="2" formControlName="address"></textarea>
            </mat-form-field>
            <button mat-flat-button color="accent" style="color: white;">Save</button>
        </div>
    </form>
</div>
