<form [formGroup]="form" (ngSubmit)="submit()" 
    style="display: flex; flex-direction: column; gap: 20px;">
    <h2 syle="font-weight: bold;">Log in</h2>
    <p>Duis aute urune dolor in reprehenderit in voluptate velit esse cilium</p> 
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [errorStateMatcher]="matcher"  placeholder="Email" formControlName="email"/>
        <mat-error *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
            Invalid email address
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [errorStateMatcher]="matcher"
                formControlName="password" placeholder="Password"
                [type]="passwordVisible ? 'text' : 'password'"/>
        <mat-icon class="fa-solid fa-eye" matSuffix 
                style="color: #777; font-size: medium;"
                *ngIf="!passwordVisible" (click)="passwordVisible = true">
        </mat-icon>
        <mat-icon class="fa-solid fa-eye-slash" matSuffix 
                style="color: #777; font-size: medium;"
                *ngIf="passwordVisible" (click)="passwordVisible = false">
        </mat-icon>
        <mat-error *ngIf="form.get('password')?.hasError('minlength')">
            Password too short
        </mat-error>
    </mat-form-field>
    
    <button mat-flat-button color="accent" type="submit"
            style="margin-top: 50px; padding: 10px; color: white; font-weight: bold;">
            Log in
    </button>
</form>