<div style="width: 400px;">
    <!-- Form Header -->
    <div class="form-header">
        <h2>Form</h2>
        <button mat-icon-button (click)="onCloseForm();" 
                style="box-shadow: none; min-width: 30px; min-height: 30px;">
            <i class="fa-solid fa-xmark" style="font-size: large;"></i>
        </button>
    </div>
    <!-- Form Content -->
    <div style="display: flex; justify-content: space-between; margin: 50px 0;">
      <h2>{{formData.name}}</h2>
      <button mat-flat-button color="accent" style="color: white;" (click)="onSaveForm()">Save</button>
    </div>
    <table mat-table [dataSource]="dataSource" style="width: 100%;">
        <!-- Image -->
        <ng-container matColumnDef="participant">
          <th mat-header-cell *matHeaderCellDef> Participant</th>
          <td mat-cell *matCellDef="let e">{{e.business_name||e.first_name+' '+e.last_name}}</td>
        </ng-container>
        <!-- Info -->
        <ng-container matColumnDef="joined_at">
          <th mat-header-cell *matHeaderCellDef> Joined </th>
          <td mat-cell *matCellDef="let e">{{e.created_at|date:'dd/MM/yy hh:mm a'}}</td>
        </ng-container>
        <!-- Action -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let e">
            <div style="display: flex; flex-direction: column; gap: 10px; align-items: center;">
                <mat-slide-toggle [checked]="!e.revoked" (change)="updateParticipation(e, $event)" matTooltip="subscribe/unsubscribe"></mat-slide-toggle>
              </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
